<div class="p-d-flex p-flex-wrap shell">
  <app-product-list
    style="flex: 1;"
    [displayCode]="displayCode$ | async"
    [products]="products$ | async"
    [selectedProduct]="selectedProduct$ | async"
    [errorMessage]="errorMessage$ | async"
    (displayCodeChanged)="checkChanged()"
    (initializeNewProduct)="newProduct()"
    (productWasSelected)="productSelected($any($event))"
  >
  </app-product-list>

  <app-product-edit
    style="flex: 2;"
    [selectedProduct]="selectedProduct$ | async"
    [errorMessage]="errorMessage$ | async"
    (clearCurrent)="clearProduct()"
    (update)="updateProduct($any($event))"
    (delete)="deleteProduct($any($event))"
    (create)="saveProduct($any($event))"
  >
  </app-product-edit>
</div>
<p-confirmDialog [style]="{width: '450px'}" rejectButtonStyleClass="p-button-warning"></p-confirmDialog>
