<div class="edit-container">
  <p-messages *ngIf="errorMessage" severity="error">
    <ng-template pTemplate>
      <div>{{ errorMessage }}</div>
    </ng-template>
  </p-messages>

  <p-card [header]="pageTitle" *ngIf="selectedProduct">
    <form novalidate (ngSubmit)="saveProduct()" [formGroup]="productForm" autocomplete="off">
      <div class="p-fluid">
        <div class="p-field">
          <label for="productNameId">Product Name</label>
          <input
            [ngClass]="{ 'p-invalid': displayMessage.productName }"
            id="productNameId"
            type="text"
            placeholder="Name (required)"
            formControlName="productName"
            (blur)="blur()"
            pInputText
            aria-describedby="productName-help"
          />
          <small
            *ngIf="displayMessage.productName"
            id="productName-help"
            class="p-invalid"
            >{{ displayMessage.productName }}
          </small>
        </div>
        <div class="p-field">
          <label for="productCodeId">Product Code</label>
          <input
            [ngClass]="{ 'p-invalid': displayMessage.productCode }"
            id="productCodeId"
            type="text"
            placeholder="Code (required)"
            formControlName="productCode"
            (blur)="blur()"
            pInputText
            aria-describedby="productCode-help"
          />
          <small
            *ngIf="displayMessage.productCode"
            id="productCode-help"
            class="p-invalid"
            >{{ displayMessage.productCode }}
          </small>
        </div>
        <div class="p-field">
          <label for="starRatingId">Star Rating (1-5)</label>
          <p-rating formControlName="starRating" id="starRatingId"></p-rating>
          <small *ngIf="displayMessage.starRating" class="p-invalid">
            {{ displayMessage.starRating }}
          </small>
        </div>
        <div class="p-field">
          <label for="descriptionId">Product Description</label>
          <textarea
            [ngClass]="{ 'p-invalid': displayMessage.description }"
            id="descriptionId"
            placeholder="Description"
            [rows]="3"
            formControlName="description"
            (blur)="blur()"
            pInputTextarea
            autoResize="autoResize"
            aria-describedby="description-help"
          ></textarea>
          <small
            *ngIf="displayMessage.description"
            id="description-help"
            class="p-invalid"
            >{{ displayMessage.description }}
          </small>
        </div>
      </div>
      <button
        pButton
        pRipple
        type="submit"
        label="Save"
        [disabled]="!productForm.valid || !productForm.dirty"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Cancel"
        class="p-button-secondary p-ml-2"
        (click)="cancelEdit()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Delete"
        (click)="deleteProduct()"
        class="p-button-danger p-ml-2 p-mt-2"
      ></button>
    </form>
  </p-card>
</div>
