<p-messages *ngIf="errorMessage" severity="error">
  <ng-template pTemplate>
      <div>{{ errorMessage }}</div>
  </ng-template>
</p-messages>

<p-orderList
  [value]="products"
  [listStyle]="{ height: 'auto' }"
  [header]="pageTitle"
  filterBy="productName"
  filterPlaceholder="Filter by name"
  metaKeySelection="false"
  controlsPosition="right"
  (onSelectionChange)="productSelected($event.value[0])"
  [selection]="[selectedProduct]"
  [listStyle]="{'min-width':'300px'}"
>
  <ng-template let-product pTemplate="item">
    <div>
      {{ product.productName }}
      <ng-container *ngIf="displayCode">
        ({{ product.productCode }})
      </ng-container>
    </div>
  </ng-template>
</p-orderList>
<div class="bottom-actions p-d-flex p-ai-center">
  <button
    type="button"
    pButton
    label="Add"
    icon="pi pi-plus"
    style="margin: 0.25em; min-width: 90px;"
    (click)="newProduct()"
  ></button>
  <label>
    <input type="checkbox" (change)="checkChanged()" [checked]="displayCode" />
    Display Product Code
  </label>
</div>

