.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 58px - 58px - 2rem);
  .card {
    width: 100%;
    max-width: 600px;
    background-color: var(--surface-a);
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    .card-title {
      font-size: larger;
      font-weight: bold;
      text-align: center;
    }
    .card-body {
      text-align: center;
      margin: 10px;
    }
  }

  .spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
  }

  .icon {
    position:relative;
    top: -117px;
    font-size: 6rem !important;
    color: var(--primary-color);
    &:hover {
      color: #38a5ff;
    }
  }

  a {
    text-decoration: none;
  }
}
