.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .card {
    width: 100%;
    max-width: 600px;
    .card-header {
      font-size: 2rem;
      font-weight: bold;
      margin: 16px
    }
    label {
      font-weight: bold;
    }
    .fgroup {
      margin-top: 10px;
    }
    p-card {
      .p-field * {
        display: block;
      }
    }
  }
}

